* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(242, 242, 242);
}

.container {
  /* border: solid 1px pink; */
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 540px;
}

header {
  /* border: solid 1px pink; */
  margin: 0 0 30px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #1b1b1b;
  letter-spacing: 8px;
}

.inputs {
  /* border: solid 1px pink; */
  margin: 0 0 30px 0;
}

.inputs input[type="text"] {
  width: 100%;
  margin: 0 0 8px 0;
  border: none;
  padding: 8px 10px;
  outline: none;
  border-radius: 4px;
  background-color: rgb(248, 252, 255);
}

.inputs input[type="text"]::placeholder {
  color: #7e7e7e;
}

.date-container {
  position: relative;
  display: inline-block;
}

.date-container input[type="datetime-local"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.date-container button.calendar {
  background: none;
  border: none;
  cursor: pointer;
}

span.label {
  font-size: 12px;
  display: block;
  margin: 0 0 5px 0;
}

button#add {
  display: block;
  margin: 8px 0 0 0;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  border: none;
  background-color: rgb(63, 143, 255);
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s ease-in;
}

button#add:hover {
  background-color: rgb(86, 156, 255);
}

.little-heading {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #5c5c5c;
  letter-spacing: 2px;
}

ul {
  margin: 10px 0 30px 0;
}

ul li {
  list-style-type: none;
  border-bottom: solid 1px #e0e0e0;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li .left {
  display: flex;
  flex-direction: column;
}

ul li .left span.due {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: rgb(157, 157, 157);
}

ul li .buttons {
  /* border: solid 1px pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.buttons button {
  border: none;
  background: none;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.filter-options {
  /* border: solid 1px pink; */
  display: flex;
  justify-content: center;
  gap: 10px;
  /* border-top: solid 1px rgb(212, 212, 212); */
  padding: 20px 0 0 0;
}

.filter-options button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.filter-options button:hover {
  color: #676767;
}

.filter-options button.selected {
  background-color: #dadada;
  padding: 5px 8px;
  border-radius: 4px;
}
